<div>
	<div class="task"
	 	 ng-cloak ng-class="'imp-' + task.importanza"
	 	 ng-if="!task.editMode">
		
		<div class="task-header">
			<div class="task-title">{{task.titolo}}</div>
			<div class="editIcon" ng-click="task.editMode = true"></div>
		</div>
		<div class="task-body">
			<div class="task-text">{{task.testo}}</div>
		</div>
		<div class="task-footer">
			<div class="task-creation">{{task.dataApertura}}</div>
			<div class="moveLeft" ng-hide="task.stato <= 0" ng-click="task.stato = task.stato - 1;"></div>
			<div class="moveRight" ng-hide="task.stato >= 3" ng-click="task.stato = task.stato + 1;"></div>
			<div class="task-update">{{task.dataUltimaModifica}}</div>
		</div>
	</div>
	<div class="task editMode"
	 	 ng-cloak ng-class="'imp-' + task.importanza"
	 	 ng-if="task.editMode">
		<select ng-model="task.importanza"
				ng-options="i.valore as i.testo for i in importanza">
		</select>			
		<div class="task-header">			
			<input type="text" ng-model="task.titolo">
			<div class="saveIcon" ng-click="task.editMode = false"></div>
		</div>
		<div class="task-body">
			<textarea ng-model="task.testo"></textarea>
		</div>
	</div>	
</div>